body {
    max-width: 600px;
    margin: 0 auto;
  }
  
  .one {
    background: pink;
    border: 2px solid blue;
    /* CHANGE ME */
    padding: 2px;
    margin: 10px;
    text-align: center;
    
  }
  
  .two {
    background: lightblue;
    border: 1.5px solid blue;
    padding: auto;
    margin: auto;
    text-align: center;
  }
  
  .three {
    background: peachpuff;
    border: 2px solid brown;
    width: auto;
    /* CHANGE ME */
    padding: 32px;
    margin: auto;
    text-align: center;
  }
  .four {
    background: pink;
    border: 2px solid blue;
    /* CHANGE ME */
    padding: 0.2px;
    margin: 10px;
    text-align: center;
  }
  .five {
    background: peachpuff;
    border: 2px solid brown;
    width: auto;
    /* CHANGE ME */
    padding: 2px;
    margin: 10px;
    text-align: center;
  }

  img{ 

    width: 500px;
    height: auto;
  }
  .card {
    width: 400px;
    background: #fff;
    margin: 16px auto;
  }
  
  .title {
    background: #e3f4ff;
  }
  
  .content {
    background: #e3f4ff;
  }
  
  .button-container {
    background: #aaddff;
    color: #e11717;
  }
  
  button {
    font-family: Roboto, sans-serif;
    border: none;
    border-radius: 8px;
    background: #eee;
  }
  
  /* SOLUTION */
  
  /* disclaimer: duplicating the selectors here isn't best practice.
  In your solution you probably put it right inside the existing selectors,
  which _is_ the best practice.
  
  We separated it out here to make it extra clear what has changed. */
  
  .card {
    padding: 8px;
  }
  
  .title {
    margin-top: 0;
    margin-bottom: 8px;
    font-size: 16px;
    padding: 8px;
  }
  
  .content {
    margin-bottom: 8px;
    padding: 16px 8px;
  }
  
  .button-container {
    text-align: center;
    padding: 8px;
    background: #aaddff;
  
  }
  
  button {
    margin: 0 auto;
    padding: 8px 24px;
  }

  button {
    transition: transform .3s ease-in-out;
  }
  button:hover {
    transform: scale(1.2)
  }
   .burger_img {
    background: peachpuff;
    border: none;
    width: auto;
    height: 250px;
    padding: 3px;
    margin: 5px;
    text-align: center;
    align-content: center;
    align-items: center;
    align-self: center;}

    .contentOne {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;

    }
    input {
      border: 1px solid #ddd;
      border-radius: 16px;
      padding: 8px 24px;
      width: 400px;
      margin-bottom: 16px;
    }
 
     

  